.controls {
  display: flex;
  margin-left: auto;
}

.controls__button {
  @include hide-text();
  margin-right: 10px;

  width: 15px;
  height: 15px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $black;
    outline: none;

    &::after,
    &::before {
      background-color: $black;
    }

    &.controls__button--min-back {
      border: 1px solid transparent;
    }

    &.controls__button--min-back::after,
    &.controls__button--min-back::before {
      border-color: $black;
      background-color: transparent;
    }

    &.controls__button--min-back::after {
      background-color: $white;
    }
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }

  &:last-child {
    margin-right: 0;
  }

  &--min {
    border-bottom: 1px solid $dark-grey;
  }

  &--max {
    border: 1px solid $dark-grey;
  }

  &--max-back {

  }

  &--min-back {
    position: relative;

    border: 1px solid transparent;

    &::after,
    &::before {
      position: absolute;
      content: "";

      width: 10px;
      height: 10px;

      border: 1px solid $dark-grey;
    }

    &::after {
      top: 0;
      right: 0;

      background-color: $white;
    }

    &::before {
      bottom: 0;
      left: 0;

      background-color: transparent;
    }
  }

  &--close {
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: "";

      width: 20px;
      height: 1px;

      background-color: $dark-grey;
      left: -3px;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}
