.support {
  display: none;
  padding: 0 50px;
  min-height: 40px;
}

.support__email {
  display: flex;
  align-items: center;
  margin-right: 30px;

  font-size: 14px;
  color: $black;
}

.support__note {
  display: flex;
  align-items: center;

  font-size: 14px;
  color: $dark-grey;
}

@media (min-width: $tablet-width) {
  .support {
    display: flex;
  }
}
